version: 2.5.1.{build}
branches:
  only:
  - master
configuration: Release
platform: Any CPU
init:
- ps: Update-AppveyorBuild -Version "2.5-1-$(Get-Date -format yyyyMMdd-HHmm).$env:appveyor_build_number"
nuget:
  account_feed: true
  project_feed: true
build:
  publish_nuget: true
  include_nuget_references: true
  verbosity: minimal
after_build:
- cmd: >-
    configure.bat

    make distributions

    7z a -r distributions.zip distrubution

    cd nuget

    nuget update -self

    nuget pack tfs.nuspec
artifacts:
- path: distributions.zip
  name: Deploy to GitHub release
- path: '**\tfs.*.*.*.nupkg'
  name: NuGet Package
deploy:
- provider: GitHub
  auth_token:
    secure: zAUK4q45PTH0t/jOPaNNMEoowxYdmr4FP8hIyNnwq39xBU5Y6E3KIUX+7/9I4GFT
  artifact: distributions.zip
- provider: NuGet
  api_key:
    secure: iiaGqmUeZuaL7Ti7xB+NMKBaJOUSGxYj2ffoB6RKnF02M3msHJBCZHvw3Gi9yh37
  skip_symbols: true
  artifact: /.*\.nupkg/